@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
  padding-left: 1rem;
}

/* Fonts */
.corporate-font1 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gold {
  color: #F39828;
}

/* Grid */
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.content {
  grid-column: 2/3;
}

.feed-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.feed-content {
  grid-column: 2/3;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/