@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
  padding-left: 1rem;
}

/* Fonts */
.corporate-font1 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gold {
  color: #F39828;
}

/* Grid */
@media screen {  
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }

  .feed-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 11fr 0.5fr;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .feed-wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .feed-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .wide-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .feed-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .wide-wrapper {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
  }
}

.content {
  grid-column: 2/3;
}

.feed-content {
  grid-column: 2/3;
}

.leaflet-container {
  width: 100%;
  height: 70vh;
}